{% extends "layout.html" %}
{% set active_page = "masterManagement" %}
{% block body %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">マスタデータ一覧</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle mr-2" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span data-feather="more-vertical"></span>
          <span id="data_category"> {{ cont.dataCategory.value }}</span>
        </button>
          <input id="selected_category" type="hidden" value="{{ cont.dataCategory.key }}">
        <div class="dropdown-menu text-center">
          {% for category in cont.categoryList %}
            <a class="dropdown-item" data-month-value="{{ category.key }}" onclick="changeCategory('{{ category.key }}','{{ category.value }}')" href="javascript:void(0)">{{ category.value }}</a>
          {% endfor %}
        </div>
      </div>
      <button class="btn btn-sm btn-outline-secondary mr-2" onclick="createMaster()"><span data-feather="file-plus"></span> 新規作成</button>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="pb-2">
      <ul class="list-group">
      {% for category, message in messages %}
        <li class="{{ category }}">
          {{ message }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endwith %}

    <table id="example" class="table table-striped table-bordered display nowrap" style="width:100%">
      <thead>
        <tr>
          <th data-priority="1">コード</th>
          <th data-priority="2">値</th>
          <th>表示順</th>
          <th data-priority="3">有効/無効</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    
    
    <script>
    
    function createMaster(){
      location.href = "{{ url_for('masterData.master_create') }}";
    }


    $(function() {
        var table = $('#example').DataTable( {
            stateSave: true,
            responsive: true,
            "columnDefs": [
            { responsivePriority: 1, targets: 0 },
            { responsivePriority: 2, targets: 1 },
            { responsivePriority: 3, targets: 2 }
              ],
            ajax: {
                type   : "POST",
                url    : "{{ url_for('masterData.master_post_data') }}",
                contentType: 'application/json',
                dataType : 'JSON',
                scriptCharset: 'utf-8',
                data   : function( d ) {
                  d.category = $('#selected_category').val();
                  return JSON.stringify(d);
                },
                "dataSrc": ""
            },
            'columns': [
                        {"data" : "itemCd",
                          "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                              var category = $('#selected_category').val();
                              $(nTd).html("<a href='/master_data/" + oData.itemId + "/edit/'>" + oData.itemCd + "</a>");
                          }},
                        {"data" : "itemValue"},
                        {"data" : "displayOrder"},
                        {"data" : "isActive"}
            ],
            language: {
              emptyTable: "該当するデータが見つかりませんでした。",
              info: "_TOTAL_ 件中 _START_ 件から _END_ 件までを表示",
              infoEmpty: "",
              infoFiltered: "(_MAX_ 件からの絞り込み表示)",
              infoPostFix: "",
              thousands: ",",
              lengthMenu: "表示件数: _MENU_",
              loadingRecords: "ロード中",
              processing: "処理中...",
              search: "一覧表示内絞込検索",
              zeroRecords: "該当するデータが見つかりませんでした。",
              paginate: {
                first: "先頭",
                previous: "前へ",
                next: "次へ",
                last: "末尾"
              }
            }
        } );
        window.changeCategory = function(key,value){
            $("#data_category").text(value);
            $('#selected_category').val(key)
            table.ajax.reload();
        };
      } );
    </script> 
  <!-- dataTables core JavaScript -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}