{% extends "layout.html" %}
{% set active_page = "masterManagement" %}
{% block body %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">マスタデータ一覧</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-sm btn-outline-secondary mr-2" onclick="createUser()"><span data-feather="user-plus"></span> 新規作成</button>
      </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="pb-2">
      <ul class="list-group">
      {% for category, message in messages %}
        <li class="{{ category }}">
          {{ message }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endwith %}

  <div style="background-color:#FBFBFB">
    <div class="form-group col-md-3 px-0">
      <label class="control-label">メインカテゴリー</label>
        <select class="form-control" id="mainCategory" required>
          <option value="">Choose...</option>
          <option>United States</option>
        </select>
    </div>
  </div>
    <table id="example" class="table table-striped table-bordered display nowrap" style="width:100%">
      <thead>
        <tr>
          <th data-priority="1">ユーザID</th>
          <th data-priority="2">ユーザ名</th>
          <th data-priority="3">所属</th>
          <th>メール</th>
        </tr>
      </thead>
      <tbody>
      {% for data in dataSet %}
        <tr>
          <td><a href="{{ url_for('userManagement.user_edit', userId=data.user_id) }}">{{ data.user_id }}</a></td>
          <td>{{ data.user_name }}</td>
          <td>{{ data.group_id }}</td>
          <td>{{ data.email }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    
    
    <script>
    
  function createUser(){
    location.href = "{{ url_for('userManagement.register') }}";
  }

  $(function() {
    var table = $('#example').DataTable( {
        responsive: true,
        "columnDefs": [
        { responsivePriority: 1, targets: 0 },
        { responsivePriority: 2, targets: 1 }
          ],
        language: {
          emptyTable: "該当するデータが見つかりませんでした。",
          info: "_TOTAL_ 件中 _START_ 件から _END_ 件までを表示",
          infoEmpty: "",
          infoFiltered: "(_MAX_ 件からの絞り込み表示)",
          infoPostFix: "",
          thousands: ",",
          lengthMenu: "表示件数: _MENU_",
          loadingRecords: "ロード中",
          processing: "処理中...",
          search: "一覧表示内絞込検索",
          zeroRecords: "該当するデータが見つかりませんでした。",
          paginate: {
            first: "先頭",
            previous: "前へ",
            next: "次へ",
            last: "末尾"
          }
        }
    } );
  } );
  </script> 
  <!-- dataTables core JavaScript -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
{% endblock %}