[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pysmb = "*"
flask-sqlalchemy = "*"
flask-script = "*"
pylint = "*"
psycopg2 = "*"
requests = "*"
flask-wtf = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
