{% extends "layout.html" %}
{% set active_page = "travelExpenses" %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">旅費詳細 {{ cont.month }}月</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    {% if cont.formData %}
    <button class="btn btn-sm btn-outline-secondary mr-2" onclick="deleteClientWork()"><span data-feather="delete"></span> 削除</button>
    {% endif %}
  </div>
</div>
  
<form action="{{ url_for('travelExpenses.travel_expenses_save', month=cont.month) }}" method="POST">
  {% if cont.formData %}
  <input type="hidden" name="travelExpensesId" value="{{ cont.formData.travel_expenses_id }}">
  {% endif %}
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="expenseDate">月日</label>
      <input type="text" class="form-control" id="expenseDate" name="expenseDate" {% if cont.formData %} value="{{ cont.formData.expense_date }}" {% endif %}>
      <small class="form-text text-muted">利用期間/購入日を記入</small>
    </div>
    <div class="form-group col-md-2">
        <label for="expenseItem">費目</label>
        <input type="text" class="form-control" id="expenseItem" name="expenseItem" {% if cont.formData %} value="{{ cont.formData.expense_item }}" {% endif %}>
        <small class="form-text text-muted">購入名目を記入</small>
    </div>
  </div>
   
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="route">ルート/詳細</label>
        <input type="text" class="form-control" id="route" name="route" {% if cont.formData %} value="{{ cont.formData.route }}" {% endif %}>
      </div>
      <div class="form-group col-md-2">
        <label for="transit">交通手段/詳細</label>
        <input type="text" class="form-control" id="transit" name="transit" {% if cont.formData %} value="{{ cont.formData.transit }}" {% endif %}>
      </div>
      <div class="form-group col-md-2">
          <label for="payment">金額</label>
          <input type="text" maxlength="9" class="number form-control" id="payment" name="payment" required {% if cont.formData %} value="{{ cont.formData.payment }}" {% endif %}>
          <small class="form-text text-muted">税込で記入</small>
      </div>
    </div> 
   
    <div class="form-row">
      <div class="form-group col-md-6">
      <label for="upload">領収書添付</label>
      <input type="file" class="form-control p-0" id="upload" name="uploadFile">
      </div>
    </div> 

    <div class="form-row">
    <div class="form-group mb-3 col-md-6">
      <label for="noteTextarea">備考</label>
      <textarea class="form-control" id="noteTextarea" name="note" placeholder="適当" required>{% if cont.formData %}{{ cont.formData.note }}{% endif %}</textarea>
    </div>
    </div>
    <button type="submit" class="btn btn-primary mr-2"> 確 定 </button>
    <button type="button" class="btn btn-secondary ml-2" onclick="history.back()"> 取 消 </button>
  </form>

{% if cont.formData %}
<script>
  function deleteClientWork(){
      location.href = "{{ url_for('travelExpenses.travel_expenses_delete', month=cont.month, travelExpensesId=cont.formData.travel_expenses_id) }}";
  }
</script>
{% endif %}
<script>

  // 初期表示の数字カンマ入り処理
  $('input.number').val(function(index, value) {
      return value
      .replace(/\D/g, "")
      .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      ;
  })

  // 金額を修正時のカンマ入り処理
  $('input.number').blur(function(event) {

    // skip for arrow keys
    if(event.which >= 37 && event.which <= 40) return;

    // format number
    $(this).val(function(index, value) {
      return value
      .replace(/\D/g, "")
      .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      ;
    });
  });
</script>
{% endblock %}