{% extends "layout.html" %}
{% set active_page = "travelExpenses" %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">旅費詳細 {{ cont.month }}月</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    {% if cont.form.travelExpensesId.data and cont.is_self %}
    <button class="btn btn-sm btn-outline-secondary mr-2" onclick="deleteData()"><span data-feather="delete"></span> 削除</button>
    {% endif %}
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="pb-2">
  <ul class="list-group">
  {% for category, message in messages %}
    <li class="{{ category }}">
      {{ message }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endwith %}

<form action="{{ url_for('travelExpenses.travel_expenses_save', month=cont.month) }}" method="POST" enctype="multipart/form-data">
  {{ cont.form.csrf_token }}
  {% if cont.form.travelExpensesId.data %}
  <input type="hidden" name="travelExpensesId" value="{{ cont.form.travelExpensesId.data }}">
  {% endif %}
  <div class="form-row">
    <div class="form-group col-md-2">
      {{ cont.form.expenseDate.label }} {{ cont.form.expenseDate(class_="form-control") }}
      <small class="form-text text-muted">利用期間/購入日を記入</small>
    </div>
    <div class="form-group col-md-2">
      {{ cont.form.expenseItem.label }} {{ cont.form.expenseItem(class_="form-control") }}
      <small class="form-text text-muted">購入名目を記入</small>
    </div>
  </div>
   
    <div class="form-row">
      <div class="form-group col-md-2">
        {{ cont.form.route.label }} {{ cont.form.route(class_="form-control") }}
      </div>
      <div class="form-group col-md-2">
        {{ cont.form.transit.label }} {{ cont.form.transit(class_="form-control") }}
      </div>
      <div class="form-group col-md-2">
        {{ cont.form.payment.label }} {{ cont.form.payment(class_="number form-control",maxlength=9) }}
        <small class="form-text text-muted">税込で記入</small>
      </div>
    </div> 
    {% if cont.is_self %}
    <div class="form-row">
      <div class="form-group col-md-6">
      <label for="uploadFile">領収書添付</label>
      <input type="file" class="form-control p-0" id="uploadFile" name="uploadFile">
      </div>
    </div> 
    {% endif %}
    {% if cont.form.uploadFile.data %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>アップロード済みファイル：</label>
          <a href="javascript:void(0)" onclick="downloadFile()" class="p-0">
            <span data-feather="link"></span>{{ cont.form.uploadFile.data }}
          </a>
      </div>
    </div>
    {% endif %}

    <div class="form-row">
      <div class="form-group mb-3 col-md-6">
      {{ cont.form.note.label }} {{ cont.form.note(rows="4", class_="form-control") }}
      </div>
    </div>
    <hr class="mb-4">
    {% if cont.is_self %}
    <button type="submit" class="btn btn-primary mr-4"> 登 録 </button>
    {% endif %}
    <button type="button" class="btn btn-secondary" onclick="history.back()"> 戻 る </button>
  </form>

{% if cont.form.travelExpensesId.data and cont.is_self %}
<script>
  function deleteData(){
      location.href = "{{ url_for('travelExpenses.travel_expenses_delete', month=cont.month, travelExpensesId=cont.form.travelExpensesId.data) }}";
  }
</script>
{% endif %}

{% if cont.form.travelExpensesId.data %}
<script>
  function downloadFile(){
    location.href = "{{ url_for('travelExpenses.travel_expenses_file_download', travelExpensesId=cont.form.travelExpensesId.data) }}";
  }
</script>
{% endif %}

<script>
  // 初期表示の数字カンマ入り処理
  $('input.number').val(function(index, value) {
      return value
      .replace(/\D/g, "")
      .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      ;
  })

  // 金額を修正時のカンマ入り処理
  $('input.number').blur(function(event) {

    // skip for arrow keys
    if(event.which >= 37 && event.which <= 40) return;

    // format number
    $(this).val(function(index, value) {
      return value
      .replace(/\D/g, "")
      .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      ;
    });
  });
</script>
{% endblock %}