<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>エラー画面</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script>
  function winClose(){
    window.close();
  }
</script>
</head>
<body style="background-color: #fbdfbfb;">
  <div style="width: 40%; margin: 0 auto;">
    <div style="text-align: center; height: 70px;">
      <h3>社外電話管理システム</h3>
    </div>
    <div style="color:red; text-align: center;">
      <h4>予期しないエラーが発生しました。</h4>
      <h4>システム管理者にお問い合わせください。</h4>
      <br/>
      <button type="button" class="btn btn-primary" value="close" name="btn_close" onClick="winClose()">閉じる</button>
    </div>
  </div>
</body>
</html>