{% extends "layout.html" %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">業務タイトル</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <button class="btn btn-sm btn-outline-secondary mr-2"><span data-feather="download"></span> 詳細出力</button>

      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span data-feather="calendar"></span>
        今月
      </button>
      <div class="dropdown-menu text-center">
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=1) }}">1月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=2) }}">2月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=3) }}">3月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=4) }}">4月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=5) }}">5月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=6) }}">6月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=7) }}">7月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=8) }}">8月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=9) }}">9月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=10) }}">10月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=11) }}">11月</a>
          <a class="dropdown-item" href="{{ url_for('clientWork.clinent_work_list', month=12) }}">12月</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>
  </div>

    <div class="calendar">
                <span class="day-name">日</span>
                <span class="day-name">月</span>
                <span class="day-name">火</span>
                <span class="day-name">水</span>
                <span class="day-name">木</span>
                <span class="day-name">金</span>
                <span class="day-name">土</span>

                {% for day in calendaDetails %}
<!--  <div class="{% if day.disabled %}day day--disabled{% else %}day{% endif %}"> -->

                  {% if day.disabled %}
                  <div class="day day--disabled">
                    <p class="m-0">{{ day.day }}</p>
                  {% else %}
                  <div class="day">
                    <p class="m-0">{{ day.day }}</p>
                  <a href="{{ url_for('clientWork.clinent_work_details', day=day.day) }}"></a>
                  <p class="text">9:50</p>
                  <p class="text">18:00</p>
                  {% endif %}
                </div>
                {% endfor %}



            </div>
{% endblock %}